<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title> {{ title }} - Attendance Manager</title>
        {% else %}
        <title> Attendance Manager</title>
        {% endif %}
    </head>
    
    <body>
        <h1> Attendance Manager </h1>
        <div>
           <span> <a href= "{{ url_for('index') }}"> (Mark Attendance) </a> </span> |
           <span> <a href= "{{ url_for('departments') }}"> (Departments) </a> </span> |
            <span> <a href="{{ url_for('meetings') }}"> (Meetings) </a> </span>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>